<ul style="list-style-type:none">
  <li>Turn: {{stats.roundTurns}}</li>
  <li><br/></li>
  <li>Spells Cast: {{stats.roundSpells}}</li>
  <li><br/></li>
  <li>Damage dealt: {{stats.roundDamage}}</li>
  <li>Damage healed: {{stats.roundHealed}}</li>
  <li><br/></li>
  <li>Mana gained: {{stats.roundManaGained}}</li>
  <li>Mana spent: {{stats.roundManaSpent}}</li>
  <li><br/></li>
  <li>Creatures summoned: {{stats.roundSummons}}</li>
  <li>Creatures killed: {{stats.roundKills}}</li>
</ul>
