{{#if showNewPlayerInfo}}
  {{#bs-modal-simple onHide=(action "clearNewPlayerModal") title="Welcome To Embers of Knowledge!" closeTitle="Start Playing!" backdropClose=false}}
    <p>Learn how to play <a href="https://github.com/mbabernathy/embers-of-knowledge" target="_blank">here</a> (github.com)</p>
    <p>Ooor the TL;DR: Each turn, roll dice to get mana. Use mana to cast spells until you run out. After, creatures fight each other, with unblocked ones hitting other player.  Once a player is defeated, get paid. Take winnings to store to upgrade dice and buy new spells. Repeat.</p>
  {{/bs-modal-simple}}
{{else if showNewTurn}}
  {{#bs-modal-simple onHide=(action "rollDice") title="Turn Starting" backdrop=false closeTitle="Roll Magic Dice"}}
    <p>Stats so far:</p>
    {{battle-stats stats=stats battleRecap=false}}
  {{/bs-modal-simple}}
{{/if}}
{{#if showDiceInfoModal}}
  {{diceroll-info-popover diceMessages=info.diceMessages clearDiceInfo=(action "clearDiceInfoMessages")}}
{{/if}}
{{#if showCombatRecapModal}}
  {{combat-info-popover combatMessages=info.combatMessages clearCombatInfo=(action "clearCombatInfoMessages")}}
{{/if}}
{{#if showManaLeftWarning}}
  {{#bs-modal-simple closeTitle="Go Back" submitTitle="Continue" onHide=(action "clearManaWarning") onSubmit=(action "doBattle") title="Are you sure?" backdropClose=false}}
      <p>You still have mana remaining to cast spells, and only neutral mana can be carried foward to the next turn</p>
  {{/bs-modal-simple}}
{{/if}}
{{#if showEndBattleModal}}
  {{#bs-modal-simple onHide=(action "goToStore") title="Battle over" closeTitle="Go to Store"}}
    <p>Your earnings:</p>
    {{battle-stats stats=stats battleRecap=true}}
  {{/bs-modal-simple}}
{{/if}}
<div class="battleframe">
  <h3>This is the Battle Frame</h3>
  <div>
    {{battle-player-info player="Rival" health=game.opponent_life mana=game.opponent_mana}}
  </div>
  <div>
    {{battle-player-creatures creatures=game.opponent_creatures isTargeted=rivalCreaturesTargeted resolveTarget=(action "resolveTargetSpell")}}
  </div>
  <div>
    <p>Opponent's creatures</p>
    <div style="border: 1px dashed"/>
    <p>Your creatures</p>
  </div>
  <div>
    {{battle-player-creatures creatures=game.player_creatures isTargeted=playerCreaturesTargeted resolveTarget=(action "resolveTargetSpell")}}
  </div>
  <div class="battlefooter">
    {{battle-player-info player="Your" health=game.player_life mana=game.player_mana playerInfo=true finishCastPhase=(action "finishCastPhase")}}
  </div>
  <div>
    {{battle-info-log infoMessages=info.infoLogMessages}}
  </div>
</div>
<div class="battlespellbook">
  {{spell-school-picker chooseSpell=(action "setChosenSchool")}}
  {{battle-spellbook chosenSchool=chosenSpellSchool castSpell=(action "castSpell")}}
</div>
