<div style="margin:15px">
  <div class="player-health">
    Health<br/>
    {{game.player_life}}
  </div>
</div>
<div style="margin:15px">
  <div class="mana-icon neutral"/>
  {{game.player_mana.neutral}}
</div>
<div style="margin:15px">
  <div class="mana-icon life"/>
  {{game.player_mana.life}}
</div>
<div style="margin:15px">
  <div class="mana-icon phys"/>
  {{game.player_mana.phys}}
</div>
<div style="margin:15px">
  <div class="mana-icon illusion"/>
  {{game.player_mana.illusion}}
</div>
<div style="margin:15px">
  <div class="mana-icon death"/>
  {{game.player_mana.death}}
</div>
