<div class="battleframe">
  <h3>This is the Battle Frame</h3>
  <button {{action 'rollDice'}}>
    ROLL ALL THE DICE!
  </button>
  <div>
    {{#each game.player_dice as |die|}}
      {{battle-dice info=die}}
    {{/each}}
  </div>
  <div class="battlefooter">
    {{battle-player-info}}
  </div>
</div>
<div class="battlespellbook">
  {{spell-school-picker chooseSpell=(action "setChosenSchool")}}
  {{battle-spellbook chosenSchool=chosenSpellSchool}}
</div>
