<div style="margin:15px">
  {{player}} Stats:
  <div class="player-health">
    Health<br/>
    {{health}}
  </div>
</div>
<div style="margin:15px">
  <div class="mana-icon neutral"/>
  {{mana.neutral}}
</div>
<div style="margin:15px">
  <div class="mana-icon life"/>
  {{mana.life}}
</div>
<div style="margin:15px">
  <div class="mana-icon phys"/>
  {{mana.phys}}
</div>
<div style="margin:15px">
  <div class="mana-icon illusion"/>
  {{mana.illusion}}
</div>
<div style="margin:15px">
  <div class="mana-icon death"/>
  {{mana.death}}
</div>
