<div class="spell-picker-container">
  <button class="btn neutral" {{action chooseSpell "neutral"}}>
    Neutral
  </button>
  <button class="btn rotate270 life" {{action chooseSpell "life"}}>
    Life
  </button>
  <button class="btn rotate315 bard" {{action chooseSpell "bard"}}>
    Bardic
  </button>
  <button class="btn rotate0 illusion" {{action chooseSpell "illusion"}}>
    Illusion
  </button>
  <button class="btn rotate45 sorcery" {{action chooseSpell "sorcery"}}>
    Sorcery
  </button>
  <button class="btn rotate90 death" {{action chooseSpell "death"}}>
    Death
  </button>
  <button class="btn rotate135 summon" {{action chooseSpell "summon"}}>
    Summon
  </button>
  <button class="btn rotate180 phys" {{action chooseSpell "phys"}}>
    Physical
  </button>
  <button class="btn rotate225 druid" {{action chooseSpell "druid"}}>
    Druidic
  </button>
</div>
<div style="height: 6em; border-bottom: 1px solid;"/>
