<div style="">
  Your money: {{player.player_money}}
</div>
<div class="battleflexbox">
  <div class="battleframe">
    <div>
      New dice cost: {{newDiceCost}}
      <button class="btn btn-default {{unless cantAffordDice "life"}}" {{action "buyNewLifeDice"}} disabled={{cantAffordDice}}>Buy New Life Dice</button>
      <button class="btn btn-default {{unless cantAffordDice "phys"}}" {{action "buyNewPhysDice"}} disabled={{cantAffordDice}}>Buy New Physical Dice</button>
      <button class="btn btn-default {{unless cantAffordDice "illusion"}}" {{action "buyNewIllusionDice"}} disabled={{cantAffordDice}}>Buy New Illusion Dice</button>
      <button class="btn btn-default {{unless cantAffordDice "death"}}" {{action "buyNewDeathDice"}} disabled={{cantAffordDice}}>Buy New Death Dice</button>
    </div>
    {{#each player.player_dice as |dice|}}
      {{store-dice dice=dice player=player}}
    {{/each}}
  </div>
  <div class="battlespellbook">
    {{spell-school-picker chooseSpell=(action "setStoreSchool")}}
    {{store-spellbook chosenSchool=chosenStoreSchool buySpell=(action "buySpell")}}
  </div>
</div>
<button class="btn btn-default" {{action "gotoBattle"}}>Done Shopping</button>
